/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap');










/* ROOT AND BODY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

:root {
    --body-color: #fffce8;
    --nav-color: #ffd220;
    --side-nav: #ffde59;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --text-color: #000;
    --white: #fff;
    --black: #000;
    --yellow: #FFD21F;
    --cards-color: #fff9e1;
}

body {
    color: var(--text-color);
    background-color: var(--body-color);
    touch-action: manipulation;
}









/* DARK MODE THEME */

body.dark {
    --body-color: #1E1E1E;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #FFF;
    --search-bar: #242526;
}
body.dark nav {
    border: 1px solid #393838;
}

body.dark .main-two img {
    content: url('myPicDark.png');
}
body.dark .projects-cards {
    background-color: var(--body-color);
}
body.dark .contact {
    border-top: 1px solid rgba(255, 255, 255, 0.31);
}
body.dark .contact .box textarea {
    color: var(--white);
}








/* NAVBAR */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}


nav .nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 35px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;

}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .dark-light {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i {
    position: absolute;
    color: var(--text-color);
    font-size: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}









/* FIXED STYLES */

.flex {
    display: flex;
    align-items: center;
}

.none-dec {
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    color: inherit;
}












/* STYLES FOR HOME SECTION*/


.home {
    padding: 70px 30px 0;
    width: 100%;
    color: var(--text-color);
}

.home .main {
    width: 100%;
    justify-content: center;
}

.main .main-one {
    width: 50%;
    padding: 20px;
}

.main-one h1 {
    font-size: 70px;
}

.main-one span {
    font-weight: 600;
    font-size: 40px;
    color: var(--yellow);
}

.main-one p {
    font-size: 22px;
    padding: 10px 0;
}

.main-one button {
    background-color: var(--yellow);
    outline: none;
    border: none;
    padding: 12px 35px;
    margin-top: 30px;
    cursor: pointer;
    color: var(--black);
    font-size: 20px;
    box-shadow: 2px 2px 10px #0e0e0e79;
    font-weight: 600;
    border-radius: 50px;
}

.main .main-two {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.main-two img {
    padding-top: 20px;
    width: 600px;
    height: auto;
}












/* STYLES FOR PROJECTS SECTION */

.projects {
    width: 100%;
    padding: 100px 30px 0;
}
.projects-info {
    width: 50%;
    padding: 0 0 50px 20px;
}

.projects-info h1 {
    font-size: 60px;
    line-height: 50px;
    font-weight: 800;
}

.projects-info h1 span {
    color: var(--yellow);
}

.projects-info p {
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
}

.projects-info button {
    background-color: var(--yellow);
    padding: 12px 40px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    box-shadow: 2px 2px 10px #0e0e0e79;
    color: var(--black);
    font-weight: 600;
    border-radius: 50px;
}
.project-rows {
    justify-content: center;
}
.projects-cards {
    background-color: var(--cards-color);
    width: 300px;
    height: 350px;
    flex-direction: column;
    margin: 10px;
    border: 1px solid var(--yellow);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
    transition: all 0.2s ease-out;
}

.projects-cards:hover {
    transform: rotate(10deg);
}

.projects-cards h3 {
    font-size: 35px;
    padding: 20px 10px;
    color: var(--yellow);
    font-family: 'Roboto', sans-serif;
}

.projects-cards p {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.projects-cards img {
    width: 100px;
    margin: 6px 0;
    border-radius: 50%;
}

.projects-cards button {
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    border: 2px solid var(--yellow);
    padding: 7px 25px;
    font-weight: 500;
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 25px;
    border-radius: 50px;
}











/* STYLES FOR ABOUT SECTION */

.about {
    width: 100%;
    padding: 70px 30px 0;
    justify-content: center;
}

.about-one {
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

.about-one h1 {
    font-size: 60px;
}

.about-one span {
    font-size: 60px;
    color: var(--yellow);
    font-weight: 600;
}
.about-one p {
    padding: 10px 0;
    width: 95%;
    text-align: justify;
}

.about-two {
    text-align: center;
    width: 50%;
}

.about-btn button {
    background-color: var(--yellow);
    padding: 12px 35px;
    font-size: 19px;
    font-weight: 600;
    margin: 20px 10px;
    cursor: pointer;
    color: var(--black);
    outline: none;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 10px #0e0e0e79;
}

.about-two img {
    width: 500px;
}










/* STYLES FOR CONTACT */


.contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(10, 10, 10, 0.31);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.contact h1 {
    font-size: 70px;
}

.contact h1 span {
    color: var(--yellow);
}

.contact .box {
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

.box div {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    position: relative;
}

.contact .box input {
    outline: none;
    border: none;
    padding: 9px 150px 9px 45px;
    color: var(--black);
    background-color: var(--yellow);
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
}

.box div i {
    position: relative;
    font-size: 22px;
    color: var(--black);
    top: 3px;
    left: 45px;
}

.contact .box textarea {
    resize: none;
    margin-top: 20px;
    background-color: transparent;
    padding: 10px 30px;
    color: var(--black);
    font-size: 18px;
    border-radius: 20px;
    border: 3px solid var(--yellow);
    outline: none;
}

.send {
    background: linear-gradient(#ffdc4f, #ddb100);
    font-size: 19px !important;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 40px !important;
    color: var(--black);
    margin: 30px auto !important;
}

.send:active {
    background: #ddb100;
}












/* STYLES FOR FOOTER */

footer {
    justify-content: space-between;
    padding: 10px 70px;
    background: linear-gradient(#FFDE59, #ddb100);
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}

footer .social i {
    font-size: 25px;
    margin: 0 3px;
    cursor: pointer;
}

.social i:hover {
    color: #fdf1be;
}









/* MEDIA QUERY FOR NAVBAR */

@media (min-width: 790px) and (max-width: 1024px) {
    nav {
        height: 50px;
    }
    nav .nav-bar .logo a {
        font-size: 20px;
    }
    .nav-links li a {
        font-size: 15px;
    }
    .dark-light i {
        font-size: 25px;
    }
 
}



@media (min-width: 430px) and (max-width: 790px) {

    nav {
        height: 60px;
    }
    nav .nav-bar .logo a  {
        font-size: 25px;
    }
    nav .nav-bar .sidebarOpen {
        display: block;
    }
    .dark-light i {
        font-size: 30px;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 220px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 30px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
        font-size: 17px;
    }
}

@media (max-width: 430px) {

    nav {
        height: 40px;
    }
    
    nav .nav-bar .logo a {
        font-size: 18px;
    }
    
    nav .nav-bar .sidebarOpen {
        font-size: 21px;
        display: block;
    }
    
    .dark-light i {
        font-size: 21px;
    }
    
    .menu {
        position: fixed;
        height: 100%;
        width: 210px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }
    
    nav.active .menu {
        left: -0%;
    }
    
    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    
    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }
    
    .nav-links li a {
        display: block;
        margin-top: 20px;
        font-size: 15px;
    }
}








/* MEDIA QUERIES FOR REST OF THE BODY */

@media (min-width: 1024px) and (max-width: 1270px) {



    .home {
        padding-top: 50px;
    }

    .main .main-one {
        padding-left: 30px;
    }

    .main-one h1 {
        font-size: 50px;
    }

    .main-one span {
        font-size: 35px;
    }

    .main-one p {
        font-size: 17px;
    }

    .main-one button {
        padding: 9px 20px;
        font-size: 14px;
        margin-top: 10px;
    }

    .main-two {
        text-align: center;
        align-items: center;
    }

    .main-two img {
        width: 450px;

    }





    .projects {
        padding-top: 90px;
    }

    .projects-info {
        padding-bottom: 20px;
    }

    .projects-info h1 {
        font-size: 40px;
        line-height: 15px;
    }

    .projects-info p {
        width: 100%;
        font-size: 15px;
    }

    .projects-info span {
        font-size: 40px;
    }
    .projects-info button {
        padding: 9px 20px;
        font-size: 14px;
    }

    .project-rows {
        justify-content: center;
    }
    .projects-cards {
        width: 230px;
        height: 280px;
        margin: 10px;
    }
     
    .projects-cards h3 {
        font-size: 23px;
        padding: 13px 5px;
    }
    
    .projects-cards p {
        width: 95%;
        margin: 0 auto;
        font-size: 13px;
    }
    
    .projects-cards img {
        width: 80px;
        margin: 4px 0;
        border-radius: 50%;
    }
    
    .projects-cards button {
        padding: 5px 17px;
        font-weight: 400;
        font-size: 15px;
        margin-top: 30px;
    }






    .about-one h1 {
        font-size: 50px;
    }
    .about-one span {
        font-size: 50px;
    }

    .about-one p {
        font-size: 15px;
    }

    .about-btn button {
        padding: 9px 20px;
        font-size: 14px;
    }

    .about-two img {
        width: 370px;
    }





    
    .contact h1 {
        font-size: 60px;
    }
    
    .contact h1 span {
        font-size: 60px;
    }
    
    .contact .box {
        margin-top: 20px;
        width: 100%;
    }
    
    .contact .box input {
        padding: 9px 150px 9px 45px;
        margin: 10px;
        font-size: 16px;
    }
    
    .box div i {
        font-size: 22px;
        top: 3px;
        left: 45px;
    }
    
    .contact .box textarea {
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 18px;
    }
    
    .send {
        background: linear-gradient(#ffdc4f, #ddb100);
        font-size: 19px !important;
        font-weight: 600;
        padding: 10px 40px !important;
        margin: 30px auto !important;
    }
    
}




@media (min-width: 789px) and (max-width: 1024px) {


    .home {
        padding-top: 40px;
    }
    
    .main .main-one {
        padding-left: 20px;
    }
    
    .main-one h1 {
        font-size: 40px;
    }
    
    .main-one span {
        font-size: 30px;
    }
    
    .main-one p {
        font-size: 14px;
    }
    
    .main-one button {
        padding: 7px 17px;
        font-size: 13px;
        margin-top: 10px;
    }
    
    .main-two {
        text-align: center;
        align-items: center;
    }
    
    .main-two img {
        width: 350px;
    
    }
    
    
    
    
    
    .projects {
        padding-top: 70px;
    }
    
    .projects-info {
        padding-bottom: 20px;
    }
    
    .projects-info h1 {
        font-size: 35px;
        line-height: 12px;
    }
    
    .projects-info p {
        width: 100%;
        font-size: 13px;
    }
    
    .projects-info span {
        font-size: 35px;
    }
    
    .projects-info button {
        padding: 7px 20px;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .project-rows {
        justify-content: center;
    }
    
    .projects-cards {
        width: 170px;
        height: 220px;
        margin: 10px;
    }
    
    .projects-cards h3 {
        font-size: 20px;
        padding: 7px 5px;
    }
    
    .projects-cards p {
        width: 98%;
        margin: 0 auto;
        font-size: 10px;
    }
    
    .projects-cards img {
        width: 75px;
        margin: 3px 0;
        border-radius: 50%;
    }
    
    .projects-cards button {
        padding: 3px 14px;
        font-weight: 400;
        font-size: 13px;
        margin-top: 17px;
    }
    
    
    
    
    .about {
        padding-top: 40px;
    }
    
    .about-one h1 {
        font-size: 40px;
    }
    
    .about-one span {
        font-size: 40px;
    }
    
    .about-one p {
        font-size: 13px;
    }
    
    .about-btn button {
        padding: 7px 18px;
        font-size: 12px;
        margin-top: 5px;
    }
    
    .about-two img {
        width: 340px;
    }
    
    
    
    
    
    
    .contact h1 {
        font-size: 50px;
    }
    
    .contact h1 span {
        font-size: 50px;
    }
    
    .contact .box {
        margin-top: 15px;
        width: 100%;
    }
    
    .contact .box input {
        padding: 9px 100px 9px 40px;
        margin: 10px;
        font-size: 13px;
    }
    
    .box div i {
        font-size: 18px;
        top: 3px;
        left: 45px;
    }
    
    .contact .box textarea {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 18px;
        width: 400px;
    }
    
    .send {
        background: linear-gradient(#ffdc4f, #ddb100);
        font-size: 15px !important;
        font-weight: 600;
        padding: 7px 27px !important;
        margin: 20px auto !important;
    }
 
}







@media (min-width: 600px) and (max-width: 789px) {


    .home {
        padding-top: 40px;
    }
    
    .main .main-one {
        padding-left: 10px;
    }
    
    .main-one h1 {
        font-size: 35px;
    }
    
    .main-one span {
        font-size: 30px;
    }
    
    .main-one p {
        font-size: 13px;
    }
    
    .main-one button {
        padding: 9px 20px;
        font-size: 12px;
        margin-top: 5px;
    }
    
    .main-two {
        text-align: center;
        align-items: center;
    }
    
    .main-two img {
        width: 320px;
    
    }
    
    
    
    
    
    .projects {
        padding-top: 80px;
    }
    
    .projects-info {
        padding-left: 5px;
        width: 70%;
        padding-bottom: 20px;
    }
    
    .projects-info h1 {
        font-size: 35px;
        line-height: 12px;
    }
    
    .projects-info p {
        width: 100%;
        font-size: 13px;
    }
    
    .projects-info span {
        font-size: 35px;
    }
    
    .projects-info button {
        padding: 9px 23px;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .project-rows {
        justify-content: center;
    }
    
    .projects-cards {
        width: 140px;
        height: 200px;
        margin: 5px;
    }
    
    .projects-cards h3 {
        font-size: 17px;
        padding: 7px 5px;
    }
    
    .projects-cards p {
        width: 97%;
        margin: 0 auto;
        font-size: 10px;
    }
    
    .projects-cards img {
        width: 65px;
        margin: 2px 0;
        border-radius: 50%;
    }
    
    .projects-cards button {
        padding: 3px 12px;
        font-weight: 400;
        font-size: 12px;
        margin-top: 10px;
    }
    
    
    
    
    .about {
        padding-top: 50px;
    }
    .about-one {
        padding-left: 0;
    }
    .about-one h1 {
        font-size: 35px;
    }
    
    .about-one span {
        font-size: 35px;
    }
    
    .about-one p {
        font-size: 11px;
    }
    
    .about-btn button {
        padding: 7px 18px;
        font-size: 11px;
        margin-top: 5px;
    }
    
    .about-two img {
        width: 250px;
    }
    
    
    
    
    
    
    .contact h1 {
        font-size: 45px;
    }
    
    .contact h1 span {
        font-size: 46px;
    }
    
    .contact .box {
        margin-top: 10px;
        width: 100%;
    }
    
    .contact .box input {
        padding: 9px 100px 9px 40px;
        margin: 10px;
        font-size: 13px;
    }
    
    .box div i {
        font-size: 18px;
        top: 3px;
        left: 45px;
    }
    
    .contact .box textarea {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 18px;
        width: 400px;
        height: 130px;
    }
    
    .send {
        font-size: 15px !important;
        font-weight: 600;
        padding: 7px 27px !important;
        margin: 20px auto !important;
    }
    footer {
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 500;
    }
    
    footer .social i {
        font-size: 20px;
        margin: 0 3px;
    }


 
}







@media (min-width: 430px) and (max-width: 600px) {

    .home {
         padding-top: 40px;
         padding-left: 20px;
    }
    
    .main .main-one {
        padding-left: 0;
    }
    
    .main-one h1 {
        font-size: 27px;
    }
    
    .main-one span {
        font-size: 20px;
    }
    
    .main-one p {
        font-size: 11px;
    }
    
    .main-one button {
        padding: 9px 20px;
        font-size: 11px;
        margin-top: 5px;
    }
    
    .main-two {
        text-align: center;
        align-items: center;
    }
    
    .main-two img {
        width: 280px;
    
    }
    
    
    
    
    
    .projects {
        padding-top: 80px;
        padding-left: 20px;
    }
    
    .projects-info {
        padding-left: 5px;
        width: 80%;
        padding-bottom: 20px;
    }
    
    .projects-info h1 {
        font-size: 30px;
        line-height: 11px;
    }
    
    .projects-info p {
        width: 100%;
        font-size: 13px;
    }
    
    .projects-info span {
        font-size: 30px;
    }
    
    .projects-info button {
        padding: 9px 23px;
        font-size: 11px;
        margin-top: 10px;
    }
    
    .project-rows {
        justify-content: center;
        flex-direction: column;
    }
    
    .projects-cards {
        width: 170px;
        height: 220px;
        margin: 10px;
    }

    
    .projects-cards h3 {
        font-size: 20px;
        padding: 7px 5px;
    }
    
    .projects-cards p {
        width: 98%;
        margin: 0 auto;
        font-size: 10px;
    }
    
    .projects-cards img {
        width: 75px;
        margin: 3px 0;
        border-radius: 50%;
    }
    
    .projects-cards button {
        padding: 3px 14px;
        font-weight: 400;
        font-size: 13px;
        margin-top: 17px;
    }
    
    
    
    .about {
        padding-top: 60px;
        padding-left: 20px;
    }
    
    .about-one {
        padding-left: 0;
    }
    
    .about-one h1 {
        font-size: 25px;
    }
    
    .about-one span {
        font-size: 25px;
    }
    
    .about-one p {
        font-size: 10px;
    }
    
    .about-btn button {
        padding: 7px 18px;
        font-size: 11px;
        margin-top: 5px;
    }
    
    .about-two img {
        align-items: center;
        width: 200px;
    }
    
    
    
    
    
    
    .contact h1 {
        font-size: 35px;
    }
    
    .contact h1 span {
        font-size: 35px;
    }
    
    .contact .box {
        margin-top: 5px;
        width: 100%;
    }
    
    .contact .box input {
        padding: 8px 60px 8px 40px;
        margin: 10px;
        font-size: 12px;
    }
    
    .box div i {
        font-size: 16px;
        top: 2px;
        left: 45px;
    }
    
    .contact .box textarea {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 15px;
        width: 300px;
        height: 100px;
    }
    
    .send {
        font-size: 13px !important;
        font-weight: 600;
        padding: 7px 24px !important;
        margin: 20px auto !important;
    }
    
    footer {
        padding: 7px 20px;
        font-size: 13px;
        font-weight: 500;
    }
    
    footer .social i {
        font-size: 17px;
        margin: 0 3px;
    }


}





@media (max-width: 430px) {

    .home {
        padding-top: 40px;
        padding-left: 20px;
    }
    
    .main .main-one {
        padding-left: 0;
    }
    
    .main-one h1 {
        font-size: 20px;
    }
    
    .main-one span {
        font-size: 13px;
    }
    
    .main-one p {
        font-size: 9px;
    }
    
    .main-one button {
        padding: 5px 14px;
        font-size: 8px;
        margin-top: 3px;
    }
    
    .main-two {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .main-two img {
        width: 230px;
    
    }
    
    
    
    
    
    .projects {
        padding-top: 60px;
        padding-left: 10px;
    }
    
    .projects-info {
        text-align: center;
        padding-left: 5px;
        width: 100%;
        padding-bottom: 20px;
    }
    
    .projects-info h1 {
        font-size: 30px;
        line-height: 7px;
    }
    
    .projects-info p {
        width: 100%;
        font-size: 10px;
    }
    
    .projects-info span {
        font-size: 30px;
    }
    
    .projects-info button {
        padding: 7px 17px;
        font-size: 10px;
        margin-top: 10px;
    }
    
    .project-rows {
        justify-content: center;
        flex-direction: column;
    }
 
  
   .projects-cards {
       width: 140px;
       height: 200px;
       margin: 5px;
   }

   .projects-cards h3 {
       font-size: 17px;
       padding: 7px 5px;
   }

   .projects-cards p {
       width: 97%;
       margin: 0 auto;
       font-size: 10px;
   }

   .projects-cards img {
       width: 65px;
       margin: 2px 0;
       border-radius: 50%;
   }

   .projects-cards button {
       padding: 3px 12px;
       font-weight: 400;
       font-size: 12px;
       margin-top: 10px;
   }







    
    .about {
        padding-top: 50px;
        padding-left: 20px;
    }
    
    .about-one {
        padding-left: 0;
    }
    
    .about-one h1 {
        font-size: 21px;
    }
    
    .about-one span {
        font-size: 21px;
    }
    
    .about-one p {
        font-size: 8px;
    }
    
    .about-btn button {
        padding: 5px 15px;
        font-size: 10px;
        margin-top: 5px;
    }
    
    .about-two img {
        width: 150px;
    }
    
    
    
    
    
    
    .contact h1 {
        font-size: 30px;
    }
    
    .contact h1 span {
        font-size: 30px;
    }
    
    .contact .box {
        margin-top: 5px;
        width: 100%;
    }
    
    .contact .box input {
        padding: 5px 50px 5px 30px;
        margin: 10px;
        font-size: 12px;
    }
    
    .box div i {
        font-size: 15px;
        top: 2px;
        left: 37px;
    }
    
    .contact .box textarea {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 13px;
        width: 290px;
        height: 100px;
    }
    
    .send {
        font-size: 11px !important;
        font-weight: 500;
        padding: 6px 22px !important;
        margin: 20px auto !important;
    }
    
    footer {
        padding: 5px 16px;
        font-size: 11px;
        font-weight: 500;
    }
    
    footer .social i {
        font-size: 15px;
        margin: 0 3px;
    }

}
