@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}
body{
    background-color: #1E1E1E;
}
.container{
    width: 100%;
    background-color: #1E1E1E;
    overflow-x: hidden;
    color: white;
}
.container header{
    width: 100%;
    height: 9vh;
    padding: 10px 30px;
    justify-content: right;
}
header .logo{
    font-size: 35px;
    font-weight: 600;
    width: 30%;
    margin-left: 100px;
}
.logo span{
    color: #FFDE59;
    font-size: 28px;
}
header nav{
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: right;
}


header nav ul{
    justify-content: center;
    width: 70%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    font-weight:500;
    color: white;
}
nav ul li a:hover{
    color: #FFDE59;
}

.container .main{
    width: 100%;
    height: 80vh;
    justify-content: center;
}
.main .main-one{
    width: 45%;
    padding: 40px 30px;
    padding-left: 125px;
}
.main-one h1{
    font-size: 70px;
}
.main-one span{
    font-weight: 600;
    font-size: 55px;
    color: #FFDE59;
}
.main-one p{
    font-size: 17px;
    padding: 10px 0;
}
.main-one button{
    background-color: #FFDE59;
    outline: none;
    border: none;
    padding: 9px 35px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 2px 2px 10px #0e0e0e79;
    font-weight: 600;
    border-radius: 50px;
    transition: all ease-out 0.2s;
}
.main-one button:hover{
    transform: scale(1.02);
}
.main .main-two{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}
.main-two img{
    padding-top: 20px;
    width: 500px;
    height: auto;
}
.projects{
    position: relative;
    width: 100%;
    height: 600px;
    padding: 150px 180px;
}
.projects h1{
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
}
.projects h1 span{
    color: #FFDE59;
}
.projects p{
    width: 35%;
    font-size: 17px;
    font-weight: 400;
    padding-top: 20px;
}
.projects .button{
    background-color: #FFDE59;
    padding: 9px 25px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-radius: 50px;
}
.none-dec{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.projects-div{
    width:300px;
    height: 360px;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s ease-out;
}
.projects-div:hover{
    transform: rotate(10deg);
}
.div-1{
    top: 100px;
    left: 850px;
}
.div-2{
    bottom: 10px;
    right: 1000px;
}
.div-3{
    bottom: 10px;
    right: 600px;
}
.projects-div h3{
    font-size: 23px;
    padding:5px 30px;
    color: #FFDE59;
    font-family: 'Roboto', sans-serif;
}
.projects-div h4{
    font-size: 20px;
    padding:5px 30px;
    color: #FFDE59;
    font-family: 'Roboto', sans-serif;    
}

.projects-div p{
    width: 80%;
    margin:0 auto;
    text-align: center;
}
.projects-div img{
    width: 100px;
    margin: 6px 0;
    border-radius: 50%;
}
.projects button{
    background-color: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    border: 1px solid #FFDE59;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 22px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 25px;
    border-radius: 50px;
}

.about{
    width: 100%;
    height: 400px;
    padding: 30px 50px;
    justify-content: center;
}
.about-one{
    width: 55%;
    padding: 0 60px;
}
.about-one h1{
    font-size: 50px;
}
.about-one p{
    padding: 10px 0;
    width: 95%;
    text-align: justify;
}
.about-one span{
    font-size: 30px;
    color: #FFDE59;
}
.about-two{
    width: 40%;
}
.about-two img{
    width: 400px;
}
.btns{
    margin: 15px 0;
}
.btns button{
    background-color: #FFDE59;
    padding: 8px 17px;
    font-size:18px;
    font-weight: 600;
    margin: 0 10px;
    cursor: pointer;
    transition: all ease-out 0.2s;
    outline: none;
    border: none;
    border-radius: 50px;
}
.btns button:hover{
    transform: scale(1.02);
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.31);
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
    padding-top: 30px;
    padding-bottom: 70px;
}

.contact h1{
    font-size: 50px;
}
.contact h1 span{
    color: #FFDE59;
}
.contact .box{
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}
.box div{
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    position: relative;
}
.contact .box input{
    width: auto;
    margin: auto;
    outline: none;
    border: none;
    background-color: #FFDE59;
    padding: 9px 40px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
}

.box div i{
    position: absolute;
    font-size: 20px;
    color: black;
    top: 20px;
    left: 20px;
}
.contact .box textarea{
    margin-top: 20px;
    background-color: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #FFDE59;
    outline: none;
}
.send{
    background: linear-gradient(#FFDE59 , #ddb100);
    font-size: 19px !important;
    font-weight: 600;
    cursor: pointer;
    margin: 30px auto !important;
}
.send:active{
    background: #ddb100;
}

footer{
    justify-content: space-between;
    padding: 10px 70px;
    background: linear-gradient(#FFDE59 , #ddb100);
    font-size: 20px;
    font-weight: 600;
    color: black;
}
footer .social i{
    font-size: 25px;
    margin: 0 3px;
    cursor: pointer;
}
.social i:hover{
    color: #fdf1be;
}


@media (min-width: 1025px) {
    .container .logo{
        font-size: 30px;
    }
    .fa-face-smile-wink {
        font-size: 25px;
    }
    header .logo{
        margin-left: 30px;

    }
    header nav{
        justify-content: center;
    }
    header nav ul{
        margin-left: 100px;
    }
    .main .main-one{
        padding-left: 50px;
    }
    .main-one h1{
        font-size: 70px;
    }
    .main-one span{
        font-size: 45px;
    }
    .main-one p{
        font-size: 20px;
    }
    .projects{
        padding: 30px 50px;
        width: 100%;
        height: 750px;
    }
    .project-div {
        width: 400px;
        height: 360px;
    }
    .projects h1{
        font-size: 40px;
    }
    .projects p{
        width: 100%;
        font-size: 20px;
    }
    .div-1 {
        top: 10px;
        left: 600px;
    }
    .div-2{
        left: 550px;
    }
    .div-3{
        left: 100px;
    }
    .about{
        width: 95%;
        padding-left: 0;
    }
    .box div {
        width: auto;
    }
    
    .contact textarea {
        width: 400px;
    }

}


@media (min-width: 769px) and (max-width: 1024px) {
    .container .logo {
        font-size: 25px;
    }

    .fa-face-smile-wink {
        font-size: 22px;
    }

    header .logo {
        margin-left: 15px;
    }
    nav ul li a{
        font-size: 18px;
        margin: 0 10px;
        padding: 0;
    }

    header nav {
        justify-content: center;
    }

    header nav ul {
        margin-left: 0px;
    }

    .main .main-one {
        padding-left: 50px;
    }

    .main-one h1 {
        font-size: 50px;
    }
    .main{
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
    }
    .container .main{
        height: 65vh;
    }

    .main-one span {
        font-size: 32px;
    }

    .main-one p {
        font-size: 17px;
    }
    .main-two img{
        width: 450px;
    }

    .projects {
        
        padding: 25px 40px;
        width: 100%;
        height: 750px;
    }

    .project-div {
        width: 350px;
        height: 360px;
    }

    .projects h1 {
        font-size: 37px;
    }

    .projects p {
        width: 100%;
        font-size: 17px;
    }

    .div-1 {
        top: 30px;
        left: 460px;
    }

    .div-2 {
        left: 440px;
    }

    .div-3 {
        left: 50px;
    }

    .about {
        width: 100%;
        padding: 0;
    }
    .about-one{
        width: 50%;
        padding: 0 10px 0 30px;
    }
    .about-one h1{
        font-size: 45px;
    }
    .about-one p{
        font-size: 17px;
    }
    .about-two{
        width: 50%;
    }
    .about-two img{
        width: 350px;
    }
    .contact .box{
        margin-top: 20px;
    }
    .box div{
        width: auto;
    }
    .contact textarea {
        width: 400px;
    }

}


@media (min-width: 450px) and (max-width: 769px) {
    .container .logo {
        font-size: 12px;
        margin-left: 0;
    }
    .container header{
        padding-left: 20px;
    }

    .fa-face-smile-wink {
        font-size: 14px;
    }

    header .logo {
        margin-left: 0;
        padding: 0;
    }

    nav ul li a {
        font-size: 11px;
        margin: 0 5px;
        padding: 0;
    }

    header nav {
        justify-content: center;
    }

    header nav ul {
        margin-left: 40px;
    }

    .main .main-one {
        padding-left: 20px;
    }

    .main-one h1 {
        font-size: 30px;
    }

    .main {
        display: flex;
        align-items: flex-start;
        padding-top: 5px;
    }

    .container .main {
        height: 50vh;
    }

    .main-one span {
        font-size: 15px;
    }

    .main-one p {
        font-size: 12px;
    }
    .main-one button{
        margin-top: 10px;
        font-size: 15px;
        padding: 5px 5px;
    }

    .main-two img {
        width: 320px;
    }

    .projects {
        padding: 20px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-div{
        width: 100%;
        padding-bottom: 30px;
        justify-content: left !important;
        align-items: left !important;
    }
        
    .project-div .button{
        align-items: center !important;
        justify-content: center !important;
    }

    .projects h1 {
        font-size: 30px;
    }

    .projects p {
        width: 100%;
        font-size: 14px;
    }

    .div-1 {
        position: initial;
    }

    .div-2 {
        position: initial;
    }

    .div-3 {
        position: initial;
    }

    .about {
        width: 100%;
        padding: 0;
    }

    .about-one {
        width: 50%;
        padding: 5px 5px 0 20px;
    }

    .about-one h1 {
        font-size: 30px;
    }

    .about-one p {
        font-size: 11px;
    }

    .about-two {
        width: 50%;
    }

    .about-two img {
        width: 230px;
    }

    .contact .box {
        margin-top: 5px;
    }

    .box div {
        width: auto;
    }
    .contact .box textarea{
        width: 300px;
    }
    footer{
        padding: 10px 20px;
    }

}


@media (max-width: 450px) {
    header {
        display: none !important;
    }
    .container .logo {
        display: none !important;

    }
    nav {
        display: none !important;
    }

    .main .main-one {
        padding-left: 20px;
        align-items: center;
        text-align: center;
    }

    .main-one h1 {
        font-size: 30px;
    }

    .main {
        padding-top: 5px;
    }

    .container .main {
        height: 50vh;
    }

    .main-one span {
        font-size: 30px;
    }

    .main-one p {
        font-size: 12px;
    }

    .main-one button {
        margin-top: 10px;
        font-size: 15px;
        padding: 5px 5px;
    }

    .main-two img {
        width: 320px;
    }

    .projects {
        padding: 20px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-div {
        width: 100%;
        padding-bottom: 30px;
        justify-content: left !important;
        align-items: left !important;
    }

    .project-div .button {
        align-items: center !important;
        justify-content: center !important;
    }

    .projects h1 {
        font-size: 30px;
    }

    .projects p {
        width: 100%;
        font-size: 14px;
    }

    .div-1 {
        position: initial;
    }

    .div-2 {
        position: initial;
    }

    .div-3 {
        position: initial;
    }

    .about {
        width: 100%;
        padding: 0;
    }

    .about-one {
        width: 50%;
        padding: 5px 5px 0 20px;
    }

    .about-one h1 {
        font-size: 30px;
    }

    .about-one p {
        font-size: 11px;
    }

    .about-two {
        width: 50%;
    }

    .about-two img {
        width: 230px;
    }

    .contact .box {
        margin-top: 5px;
    }

    .box div {
        width: auto;
    }

    .contact .box textarea {
        width: 300px;
    }

    footer {
        padding: 10px 20px;
    }

}
